@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-image: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);
    font-family: 'Open Sans', sans-serif;
}

#calculator-container {
    margin: 125px auto;
    height: 500px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2%;
    overflow: hidden;
    background-color: #aaaaaa;
    box-shadow: 0 0 20px 0px black;
}

#display-field {
    height: 100px;
    width: 350px;
    background-color: white;
    position: relative;
    color: rgb(97, 108, 116);
}

#text-field {
    position: absolute;
    right: 20px;
    top: 30px;
    font-size: 3em;
}

#buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 400px;
    width: 350px;
    border-radius: 20%;
    gap: 1px;
}

button {
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: white;
    font-size: 1.5em;
    color: #48484A;
}

button:hover {
    background-color: silver;
}

button:active {
    transform: scale(1.1);
}

 .top-button {
    background-color: #F3F9FE;

 }

.standard-operator{
    background-color: rgb(40, 64, 84);
    color: white;
}

.standard-operator:hover{
    color: rgb(40, 64, 84);
}

.central-buttons:hover {
    background-color: #fc953e;
}

.equalBTN {
    background-color: rgb(81, 194, 205);
    color: white;
}

.equalBTN:hover {
    color: rgb(40, 64, 84);;
}

.zeroBTN {
    grid-column: span 2;
}

.selectedOperator {
    background-color: #FF9800 !important;
}